* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

/* Toggle Button Style */
.toggle-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color:#4CAF50;
  color: white;
  border: none;
  padding: 10px 12px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1001;
}


/* Sidebar */
.slide {
  height: 100vh;
  width: 180px;
  position: absolute;
  top: 0;
  left: -180px;
  background-color: #fff;
  transition: 0.5s ease;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.slide h1 {
  color: #4CAF50;
  font-weight: 800;
  text-align: right;
  padding: 15px 20px;
  pointer-events: none;
  font-size: 22px;
}

.slide ul {
  padding: 0;
  margin: 0;
}

.slide ul li {
  list-style: none;
}

.slide ul li a {
  display: flex;
  align-items: center;
  color: #8000ff ;
  font-weight: 500;
  text-decoration: none;
  padding: 12px 20px;
  transition: background 0.2s ease;
}

.slide ul li a:hover {
  background-color: #f0f0f0;
}

.slide ul li a i {
  width: 30px;
  text-align: center;
  margin-right: 10px;
  font-size: 16px;
}

/* Main Content Area */
.content {
  margin-left: 180px;
  padding: 40px;
  min-height: 100vh;
  transition: margin-left 0.5s ease;
}

/* Main Content */
.wrapper {
  margin-left: 10px;
  padding: 20px;
  max-width: 1200px;
  transition: margin-left 0.3s ease;
}

/* Responsive for mobile */
@media (max-width: 768px) {
   .wrapper {
    margin-left: 0;
    padding: 20px;
  }
}

/* Theme Toggle */
.toggle-theme {
  text-align: right;
  margin-bottom: 10px;
}

/* Input Group */
.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 16px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Filters */
.filter-group {
  margin-bottom: 20px;
}

.filter {
  margin-right: 10px;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  background: #505050;
  cursor: pointer;
}

.filter.active {
  background: #4CAF50;
  color: white;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #998a95;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.task-item.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.task-item span {
  flex: 1;
  outline: none;
}

body.dark {
  background: #1e1e1e;
  color: #ccc;
}

/* Dark mode sidebar example */
body.dark .slide {
  background-color: #222;
}


